body{
    background-color: grey;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 

.container{
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    position: relative;
}

.image{
    position: absolute;
    top: 0;
    right: 0;
}

.image img{
    width: 250px;
    height: 300px;
}

.rotate{
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.about{
    width: 85%;
}

.row{
    width: 960px;
    clear: both;
}

.row .heading{
    float: left;
    width: 40%;

}

.row .description{
    float: left;
    width: 50%;
}

.description {
	border-left: 3px solid black;
	padding-left: 20px;
    margin-bottom: 30px;
}



